<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${hebrew_words} and ${hebrew_words.size()}">no words :(</p>


<table class="table">

    <tr>
        <th>Word</th>
        <th>Description</th>
    </tr>

    <tr th:each="word : ${hebrew_words}">
        <td> <a th:href="'/hebrew/view/' + ${word.id}" th:text="${word.word}"></a></td>
        <td th:text="${word.description}"></td>
    </tr>

</table>

<nav>
    <a href="/hebrew/add">Add Word</a> |
    <a href="/hebrew/remove">Remove Word</a> |
    <a href="/hebrew/search">Search Word</a>
</nav>

</body>
</html>