<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="word : ${english_words}" class="checkbox">
        <input type="checkbox" name="englishIds" th:value="${word.id}" th:id="${word.id}"/>
        <label th:for="${word.id}" th:text="${word.word}"></label>
        <br/>
    </div>

    <input type="submit" value="Remove Word" />
</form>

</body>
</html>