<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <input type="text" name="newEnglish" />
    </div>
    <input type="submit" value="Search Word" />
</form>


<p th:if="${result}">
<ul>
    <li> <a th:href="'/english/view/' + ${result.id}" th:text="${result.word}"></a> </li>
</ul>
</p>
<nav>
    <a href="/english/add">Add Word</a> |
    <a href="/english/remove">Remove Word</a>
</nav>

</body>
</html>