<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>


<table class="table">
    <tr>
        <th>Hebrew Word(s)</th>
        <th>Description</th>
    </tr>

    <tr th:each="word : ${english.hebrew_words}">
        <td><a th:href="'/hebrew/view/' + ${word.id}" th:text="${word.word}"></a></td>
        <td th:text="${word.description}"></td>
    </tr>
</table>
<p th:unless="${english.hebrew_words.size()}"><i>No words yet</i></p>

<nav>
    <a th:href="'/english/add-item/' + ${english.id}">Add Hebrew Word</a> |
    <a th:href="'/english/remove-item/' + ${english.id}">Remove Hebrew Word</a>
</nav>

</body>
</html>